<mat-accordion multi="true" *ngIf="records.length > 0">
  <mat-expansion-panel *ngFor="let record of records">
    <mat-expansion-panel-header>
      {{ record.title }}
    </mat-expansion-panel-header>
    <p>{{ record.measure }}</p>
    <mat-action-row>
      <button mat-button>Edit</button>
      <button mat-button (click)="onDelete(record.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-subheading-2" *ngIf="records.length <= 0">no content yet</p>
